:root {
    --main: 249 241 242;
    --primary: 221 189 213;
    --accent: 172 159 187;
    --brown: 137 106 103;
    --light-orange: 225 170 125;
    --dark-orange: 190 138 96;
    --text-fg: 29 30 44;
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

/* Fixing weird image margin behaviour */
img { 
    vertical-align: middle;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(var(--main));
    height: 100vh;
}

/* Navbar styling */
.navbar {
    display: flex;
    margin: 20px 10px;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(var(--main));
    z-index: 100;
}

#logo {
    width: 100px;
    position: absolute;
    font-size: 24px;
    font-weight: 800;
    text-shadow: 2px 2px 12px rgba(0 0 0 / .2);
    text-align: center;
    pointer-events: none;
    z-index: -1;
    top: 10px;
    left: 45%;
    right: 45%;
}

.navbar a {
  color: rgb(var(--text-fg) / 0.6);
  background: rgb(var(--main));
  text-align: center;
  transition: 500ms ease color, 500ms ease text-shadow;
  padding: 0 8px;
  border-radius: 12px;
  text-decoration: none;
}

.navbar a:hover {
    color: black;
    text-shadow: 1px 1px 5px rgba(var(--text-fg) / .3);
}

.hero {
    display: flex;
    height: 80vh;
    justify-content: space-evenly;
    margin: 16px;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid grey;
}

.hero .subtext {
    color: rgb(var(--text-fg) / .45);
    text-shadow: 1px 1px 4px rgba(var(--text-fg) / .05);
    font-size: 1.5rem;
    margin-top: -20px;
    margin-bottom: 40px;
}

.hero .text-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.hero h3 {
    color: rgb(var(--text-fg) / .8);
    font-family: Serif;
    word-spacing: 4px;
    line-height: 4rem;
    margin-top: 10%;
    font-size: 3rem;
}

#hero-btn {
    background-color: rgb(var(--dark-orange) / 1.2);
    border: 2px solid rgb(var(--dark-orange) / 1.2);
    text-shadow: 1px 1px 5px rgba(var(--text-fg) / .3);
    font-size: 1.5rem;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
    color: rgb(var(--main));
    padding: 10px 40px;
    border-radius: 24px;
    box-shadow: 2px 2px 20px 5px rgba(var(--dark-orange) / .2);
}

#pendant {
    margin: -10px 40px;
}

h2.title {
    margin: 120px 16px 10px 16px;
    font-size: 2rem;
    text-transform: uppercase;
}

.section {
    display: flex;
    border: 1px solid grey;
    margin: 16px;
}

.model-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.model img {
    max-width: 350px;
    padding: 0;
    margin: 0;
}

.caption-card {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    flex-direction: column;
}

.section .caption {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    padding: 20px 60px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.hashtag {
    margin-top: 10px;
    background-color: rgb(var(--text-fg) / .45);
    color: rgb(var(--main) / .9);
    border-radius: 40px;
    padding: 8px 32px;
}

.jewelery-container {
    display: flex;
    flex: 0.5 auto;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
}

img#rings {
    max-width: 400px;
}

.jewelery-container .discover {
    padding: 8px 32px;
    border: 2px solid rgb(var(--text-fg) / .45);
    font-weight: 600;
    color: rgb(var(--text-fg) / .7);
    border-radius: 24px;
    font-size: 2rem;
}